# Welcome, Bienvenue, Willkommen, Bienvenido

Hi dear visitor/colleague/friend, thanks for popping over :upside_down_face:.

I'm Simon and I'm a software engineer. I'm currently on my 1st year of French master's degree at [University Savoie Mont Blanc](https://www.univ-smb.fr/).

I've also been studying cloud computing (BSc Hons) at [Dundalk Institute of Technology](https://www.dkit.ie/) in Ireland on an Erasmus+ :eu: exchange program.

## What I do :computer:

|                      I love                     |                    I use/know                    |                    I'm interested                   |
|:-----------------------------------------------:|:------------------------------------------------:|:---------------------------------------------------:|
| {{ range .Love }}{{ badge . }}<br>{{ end }}     | {{ range .Using }}{{ badge . }}<br>{{ end }}     | {{ range .Interest }}{{ badge . }}<br>{{ end }}     |


Have mercy for my soul, avoid those: {{ range .DontAsk }}{{ badge . }} {{ end }}

As a final set, my favorite tools: {{ range .Tools }}{{ badge . }} {{ end }}

## Languages build bridges :people_holding_hands:

I :heart: languages, and I'm currently speaking {{ join .KnownLanguages }}. But I'm trying to learn {{ join .WishLanguages }}, so come teach me a word or two :grinning:.
