## Welcome, Bienvenue, Willkommen, Bienvenido

Hi dear visitor/colleague/friend, thanks for popping over :upside_down_face:.

I'm Simon and I'm a DevOps engineer. I've studied software engineering in a French master's degree at [University Savoie Mont-Blanc](https://www.univ-smb.fr/), and currently working at [Capgemini](https://www.capgemini.com/).

I've also been studying Cloud Computing (BSc Hons) at [Dundalk Institute of Technology](https://www.dkit.ie/) in Ireland on an Erasmus+ :eu: exchange program.

### What I do :computer:

<a href="https://roadmap.sh/u/sinuxl5d"><img src="https://roadmap.sh/card/tall/668bdd3a501413692bf3eaf9?variant=light&roadmaps=devops%2Cgolang%2Ckubernetes%2Cterraform" alt="completed learning topics on roadmap.sh" align="right" /></a>

|               I love (and use)                  |                    I use/know                    |                    I'm interested                   |
|:-----------------------------------------------:|:------------------------------------------------:|:---------------------------------------------------:|
| {{ range .Love }}{{ badge . }}<br>{{ end }}     | {{ range .Using }}{{ badge . }}<br>{{ end }}     | {{ range .Interest }}{{ badge . }}<br>{{ end }}     |


Have mercy on me, avoid those: {{ range .DontAsk }}{{ badge . }} {{ end }}

As a final set, my favorite tools: {{ range .Tools }}{{ badge . }} {{ end }}

### Languages build bridges :people_holding_hands:

I :heart: languages, and I'm currently speaking {{ join .KnownLanguages }}. But I'm trying to learn {{ join .WishLanguages }}, so come teach me a word or two :grinning:.
